<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="sv">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">Pensionat</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<header>
    <h1>Pensionat bokningssystem</h1>
    <nav>
        <ul>
            <li><a th:href="@{/}">Start</a></li>
            <li><a th:href="@{/customers}">Kunder</a></li>
            <li><a th:href="@{/rooms}">Rum</a></li>
            <li><a th:href="@{/bookings}">Bokningar</a></li>
        </ul>
    </nav>
</header>

<main>
    <div layout:fragment="content">
        <!-- Här ersätts innehållet av undersidor -->
    </div>
</main>

<footer>
    <p>&copy; 2025 Pensionat</p>
</footer>
</body>
</html>
