body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
}

header {
    background-color: #2b2b2b;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2em;
}
.centered {
    text-align: center;
    margin-top: 100px;
}


footer {
    background-color: #2b2b2b;
    color: white;
    text-align: center;
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
}
