<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KundLista</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1>Alla kunder</h1>

<a href="@/customer/new}">Skapa ny kund</a>

<table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Adress</th>
            <th>Åtgärder</th>
        </tr>
        </thead>
    <tbody>

    <!--th:text=renderar varje fälts värde.
    th:href =bygger länkar med dynamiska ID:n.-->

    <tr th:each="cust : ${customer}"> <!-- loopar över listan från Model.-->
        <td th:text="${cust.id}">1</td>
        <td th:text="${cust.name}">Namn</td>
        <td th:text="${cust.email}">mail@exempel.com</td>
        <td th:text="${cust.telephone}">0123456789</td>
        <td th:text="${cust.address}">Gatuadress 1</td>
        </td>
        <a href="@{|/customers/edit/${cust.id}|}">Edit</a> |
        <a th:href="@{|/customers/delete/${cust.id}|}"
           onclick="return confirm('Är du säker?');">Delete</a>
    </td>
    </tr>
    </tbody>
</table>

</body>
</html>