<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rum</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>
<div th:insert="~{fragments/navigation :: buttonGrid}"></div>
<div class="container">
    <h1 class="page-title">Alla rum</h1>

    <div th:if="${error}" class="error" th:text="${error}"></div>
    <div th:if="${success}" class="success" th:text="${success}"></div>
    <div th:if="${cancel}" class="cancel" th:text="${cancel}"></div>


    <div class="button-wrapper">
        <a class="btn" th:href="@{/rooms/create}">➕ Skapa nytt rum</a>
    </div>

    <table class="styled-table">
        <thead>
        <tr>
            <th>Rumsnummer</th>
            <th>Typ</th>
            <th>Total gästkapacitet</th>
            <th>Extrasängar</th>
            <th>Åtgärder</th>
            <th>Radera</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room : ${rooms}">
            <td th:text="${room.roomNumber}">101</td>
            <td th:text="${room.roomType}">Dubbel</td>
            <td th:text="${room.capacity}">2</td>
            <td th:text="${room.maxExtraBeds}">1</td>

            <td>
                <a class="btn-edit" th:href="@{'/rooms/edit/' + ${room.id}}">✏️ Redigera</a>
            </td>
            <td>
                <form th:action="@{'/rooms/delete/' + ${room.id}}" method="post" class="inline-form">
                    <button type="submit" class="btn-delete" title="Ta bort"
                            onclick="return confirm('Är du säker på att du vill ta bort rummet?');">
                        🗑️
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    flatpickr(".date-picker", {
        dateFormat: "Y-m-d"
    });
</script>
</body>
</html>
