<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rum</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>
<div th:insert="~{fragments/navigation :: buttonGrid}"></div>
<div class="container">
    <h1 class="page-title">Alla rum</h1>

    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>



    <table class="styled-table">
        <thead>
        <tr>
            <th>Rum nr</th>
            <th>Typ</th>
            <th>Kapacitet</th>
            <th>Extrasängar</th>
            <th>Åtgärder</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room : ${rooms}">
            <td th:text="${room.roomNumber}">101</td>
            <td th:text="${room.roomType}">Dubbel</td>
            <td th:text="${room.capacity}">2</td>
            <span th:text="${room.maxExtraBeds > 0 ? 'Ja' : 'Nej'}"></span>

            <td>
                <a class="btn-edit" th:href="@{'/rooms/edit/' + ${room.id}}">✏️ Redigera</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    flatpickr(".date-picker", {
        dateFormat: "Y-m-d"
    });
</script>
</body>
</html>
